{% extends "base.html" %}
{% block content %}

 {% for school in schools %}
<a href='{% url 'view_school' school.slug %}'>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <img src="{{ MEDIA_URL }}{{ school.logo }}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff; border-radius:50%;" >
            
        </div>
        <div class="col-xs-8">
           <h3>{{ school.school_name }}</h3><br>
           <h3><td>{{ school.Area }}</td></h3><br>
       
           
           </div>
        
        <div class="col-xs-2">
            <h4>12 Lessons From:</h4><br>
            <h1>€{{ school.Lesson_Price_For_12 }}</h1>
            
        </div>
        
       
       
        
    </div>
    </div>
    </a>
    
     <hr>
   {% endfor %}
   
{% endblock %}