{% extends "base.html" %}
{% block content %}
   
   <table class="table">
       <thead>
       <tr>
           <th><h5>School Name</h5></th>
           <!--<th>Email</th>-->
           <!--<th>Website</th>-->
           <!--<th>Phone Number</th>-->
           <th>Area</th>
           <th>12 Lesson Price<br>From:</th>
           <th>1 Lesson Price<br>From:</th>
           <th></th>
       </tr>
       </thead>
       <tbody>
       {% for school in schools %}
           <tr>
               <td><h3>{{ school.school_name }}</h3></td>
               <!--<td>{{ school.email }}</td>-->
               <!--<td>{{ school.url }}</td>-->
               <!--<td>{{ school.phone_name }}</td>-->
               <td>{{ school.Area }}</td>
               <td>{{ school.Lesson_Price_For_12 }}</td>
               <td>{{ school.Lesson_Price_For_1 }}</td>
                <td><p><button class="btn btn-default" onclick="location.href='{% url 'view_school' school.id %}'">More Info</button></p></td>
               
             
           </tr>
       {% endfor %}
       </tbody>
   </table>
{% endblock %}