body {
   font-family: Arial;
   padding-top: 100px;
}

footer {
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   border-top: 1px solid #ededed ;
   color: #A9A9A9 ;
}

h3{
   color:grey;
   
}

nav{
   background-color: #0fc17f;
   height: 50px;
   width: 100%;
}

body{
   padding:0px;
   width: 100%;
}

.typcn{
   font-size: 3rem;
   color: #0fc17f;
   
}


.logo{
   font-family: 'Ubuntu', sans-serif;
   color: white;
   text-decoration: none;
   
}

.logo_img{
   width:30%;
}

/*Problem with sizing icons*/

span a{
   font-size:15px;
}

.school{
   text-align: center;
}

.filterDiv{
   display: none;
}

.show{
   display: block;
}