/*---------------------Container*/

/*---------------------Main page*/

.maincontainer{
    width:100%;
    background-color: #0fc17f;
    background-size: cover;
  
}

body{
    width: 100%;
}


.subtext{
    font-size: 2rem;
    letter-spacing: 2px;
}
.main_body{
    width:100%;
    
    
}
.car{
   width:100%;
   padding-bottom: 100%
   
}


#mc_embed_signup{
    text-align: center;
    margin-top: 25%;
    
}

#search_box{
    border: .5px solid lightgrey;
    border-radius: 10px;
     padding-left: 2%;
     height: 60px;
     width:50%;
     font-size:30px;
}

#search_button{
    border-radius: 10px;
    border: .5px solid lightgrey;
     
    
}

.county{
    width:100%;
    border-radius: 25px;
}

.county:hover{
    width:100%;
    border-radius: 0px;
}

.discover{
    text-align: center;
    color:white;
    letter-spacing: 2px;
    font-family:'Ubuntu', sans-serif; 
    
}

.start{
    border-bottom:.5px white;
    text-align: center;
    
    
}



#start_text{
    padding-top: 25%;
    color:white;
    letter-spacing: 0px;
    font-size: 1.5rem;
    
}

#driving_text{
    display: none;
        
}
 

.pos{
    margin-top:40%;
    padding-bottom: 0%;
}

.form{
    text-align: center;
}



.discover_box{
    text-align: center;
    font-family:'Ubuntu', sans-serif; 
    
}

#box_heading{
    color:white;
    font-size: 4rem;
    font-family:'Ubuntu', sans-serif; 
    margin-bottom: 10%;
    margin-top: 10%;
}

.car_logo{
    width:10%;
}

#dublin_box{
    background-color: #2eb2ff;
    border-radius: 10px;
    width:33%;
}

#cork_box{
    background-color: #ff5c5c;
    border-radius: 10px;
    width:33%;
}

#galway_box{
    background-color: #b760e6;
    border-radius: 10px;
    width:33%;
}

#blog_titles{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 10%;
    display: none;
}

#titles{
    color:white;
   
}

.typcn{
   font-size: 3rem;
   
}

.discover{
    padding-top:100%;
}

/*---------------------Fonts*/

.logo{
    font-family:'Ubuntu', sans-serif; 
    font-weight: 700;
    width: 100%;
    font-size: 19px;
    letter-spacing: 9px;
    text-align: center;
    margin: 5% 0% 10%;
    padding:5px;
    color: #fefefe;
    

}

.stop{
    color: #fefefe;
}




/*---------------------Media Query*/



@media only screen and (min-width: 992px) {
    #start_text{
        padding-top: 0%;
        margin-top:0%;
        font-size: 3rem;
        display: block;
        
}

 #driving_text{
        font-size: 3rem;
        display: block;
        color: white;
        
}
    
    #blog_titles{
    font-size: 3rem;
    display: inherit;
}

.start{
    border-right: .5px solid white;
    text-align: right;
    
}

.discover{
    padding-top:0%;
}

.pos{
     margin-top:0%;
    padding-bottom: 5%;
}

    
    
    
}

@media only screen and (min-width: 800px) {
    .logo{
        font-size: 30px;
    }
    
}
