{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <title>Compare Stop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>
    
<!--<table class="table">-->
   <!--    <thead>-->
   <!--    <tr>-->
   <!--        <th></th>-->
   <!--        <th><h5>School Name</h5></th>-->
           <!--<th>Email</th>-->
           <!--<th>Website</th>-->
           <!--<th>Phone Number</th>-->
   <!--        <th>Area</th>-->
   <!--        <th>12 Lesson Price<br>From:</th>-->
   <!--        <th>1 Lesson Price<br>From:</th>-->
   <!--        <th></th>-->
   <!--    </tr>-->
   <!--    </thead>-->
   <!--    <tbody>-->
      
   <!--        <tr>-->
   <!--            <td><img src="{{ MEDIA_URL }}{{ school.school_name.logo }}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle"></td>-->
   <!--            <td><h3>{{ school.school_name }}</h3></td>-->
               <!--<td>{{ school.email }}</td>-->
               <!--<td>{{ school.url }}</td>-->
               <!--<td>{{ school.phone_name }}</td>-->
   <!--            <td>{{ school.Area }}</td>-->
   <!--            <td>{{ school.Lesson_Price_For_12 }}</td>-->
   <!--            <td>{{ school.Lesson_Price_For_1 }}</td>-->
   <!--             <td><p><button class="btn btn-default" onclick="location.href='{% url 'view_school' school.slug %}'">More Info</button></p></td>-->
               
             
   <!--        </tr>-->
   <!--    {% endfor %}-->
   <!--    </tbody>-->
   <!--</table>-->
    
</div>


              
          
</body>                  
</html>
