<!DOCTYPE html>
<head>
    <title>Compare Stop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>
    
    
<div class="container">
    <div class="">
        
    </div>

                
            </div>
    
    

    

    



              
          
</body>                  
</html>
