<!DOCTYPE html>
<head>
    <title>Compare Stop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>
    
    
<div class="container">
<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
            <p class="school">Test Driving School</p> 
            </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <p>(Fixed)</p><br>
                    <p>Logo</p><br>
                    <p>Contact Details</p>
                    </div>
                    <div class="col-xs-8">
                        <p>Areas</p><br>
                        <p>Pricing</p><br>
                        <p>Product's</p><br>
                        <p>Short Description on Product</p><br>
                        <p>Testimonials</p><br>
                        <p>School close b</p>
                        
                    </div>
                </div>
                
                
            </div>
    
    

    

    



              
          
</body>                  
</html>
